In [132]:
import numpy  as np
import pandas as pd
import math

# Der Algorithmus zum Erzeugen der Dyckwörter mithilfe der Positionen von -1 
## Dieser Algorithmus ( Funktion ) gibt raus die Dyckwörter , die Posititionen von -1's und die Frequenzen der Dyck wörter

In [133]:
def Posintions_of_minus_one(k):
 if k%2==1:
        return('expected value is zero')
 else:
    #gernrating the dyck words with the length (k)
    k_prime = int(k/2)
    #the array of the positions of the 1's (the "-")
    POS=np.zeros([1,k_prime], dtype = int)
    #the number of the perfect matching of the set {1,2k}, which ist equivalent to each Dyck Word
    Coeff=np.ones([0,1], int)
    A=np.zeros([1,k_prime], dtype = int)
    #the Dyck words represented mit "+1","-1"
    Dyck_Words=np.full([0,k], +1)
    #the first( smallest ) word
    for i in range(0,k_prime):
      POS[0][i]=2*(i+1)
      A[0][i]=2*(i+1)
    ind=True
    while ind == True:
        ind=False
        C=np.full([1,k], +1)
        B=np.ones([1,1], dtype = int)
        for i in range(0,k_prime):
            B=B*(A[0][i]+1-2*(i+1))
            C[0][A[0][i]-1]=-1
        Coeff=np.concatenate((Coeff,B),axis=0)
        Dyck_Words = np.concatenate((Dyck_Words,C),axis=0)
        for i in range(k_prime-2,-1,-1):
            if A[0][i]< k_prime+1+i:
               A[0][i]=A[0][i]+1
               for j  in range(i+1,k_prime-1):
                   A[0][j]=max(A[0][j-1]+1,2*(j+1))
               ind=True
               POS=np.concatenate((POS,A), axis = 0)
               break
    return(Dyck_Words,Coeff)

## Die Anzahl der Matchings einer Menge $[k]$ ist gleich $(k-1)!!$ wenn $k$  gerade ist 
### $$(k-1)!!=\frac{k!}{2^{\frac{k}{2}}\frac{k}{2}!}$$
## Die Anzahl der Dyckwörter der Länge $k$ ist gleich  die $\frac{k}{2}$-te Catalan-Nummer
### $$C_{\frac{k}{2}}={\frac {1}{\frac{k}{2}+1}}{k \choose \frac{k}{2}}={\frac {k!}{(\frac{k}{2}+1)!\,\frac{k}{2}!}}$$

In [163]:
k=20

In [165]:
[Dyck_words,frequency_of_Dyckwords]=Posintions_of_minus_one(k)
k_minus_1_double_factorial=math.factorial(k)/(2**int(k/2)*math.factorial(int(k/2)))
catlan_number_k_half=math.factorial(k)/(math.factorial(int(k/2)+1)*math.factorial(int(k/2)))

In [166]:
the_expected_value_of_k_word_of_ones=[]
for i in range(len(Dyck_words)):
    the_expected_value_of_k_word_of_ones.append([frequency_of_Dyckwords[i],Dyck_words[i]])

In [167]:
Df_the_expected_value_of_k_word_of_ones=pd.DataFrame(the_expected_value_of_k_word_of_ones,columns=['frequency','Dyckword'])

In [168]:
Df_the_expected_value_of_k_word_of_ones

       frequency                                           Dyckword
0            [1]  [1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, ...
1            [2]  [1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, ...
2            [2]  [1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, ...
3            [4]  [1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, ...
4            [6]  [1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, ...
...          ...                                                ...
16791  [2177280]  [1, 1, 1, 1, 1, 1, 1, 1, 1, -1, -1, -1, -1, 1,...
16792  [2540160]  [1, 1, 1, 1, 1, 1, 1, 1, 1, -1, -1, -1, 1, -1,...
16793  [2903040]  [1, 1, 1, 1, 1, 1, 1, 1, 1, -1, -1, 1, -1, -1,...
16794  [3265920]  [1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, -1, -1, -1,...
16795  [3628800]  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, -1, -1, -1,...

[16796 rows x 2 columns]